@model Canus.Models.Venta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estetica.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estetica.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estilista.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estilista.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicio.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicio.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
